body {background-color: azure;}

nav {display: flex; flex-wrap: nowrap; justify-content: space-between; flex-direction: row; overflow: hidden;
    background-color: rgb(134, 176, 199);
    position: fixed;
    top: 0;
    width: 100%;}

    /* border-bottom: 1rem solid azure; */

a {font-family: Arial, Helvetica, sans-serif;}

a:link, a:visited {
    background-color: rgb(134, 176, 199);
    color: azure;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }
  
  a:hover, a:active {
    background-color: azure;
    color: rgb(109, 140, 156);
  }

.prisijunk {border-left: 3px solid azure;}

/* .filter_bar {height: 50px; background-color: rgb(134, 176, 199);
    position: fixed;
    top: 150;
    width: 100%} */

main {margin: 0 auto; width: 70%;}

img {width: 290px; height: auto; border-top-left-radius: 10px; border-top-right-radius: 10px;}

.card_row {display: flex; margin: 4rem 1rem 0 1rem; flex-wrap: wrap; justify-content: center;}

.card {width: 290px; height: 370px; border-radius: 10px; margin: 0px 1rem 1rem 0rem; background-color: rgb(134, 176, 199); text-align: center; color: white; font-family: Arial, Helvetica, sans-serif;}

@media screen and (min-width:768px) 

{
    
    span {padding: 14px 25px;}

    nav {display: flex; flex-wrap: nowrap; justify-content: center; flex-direction: row; overflow: hidden;
        background-color: rgb(134, 176, 199);
        position: fixed;
        top: 0;
        width: 100%}

}

