{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="card_row">


            <div class="card">

                <img src="{% static 'img/1.jpg' %}">
                <p>Labas</p>

            </div>

            <div class="card">

                <img src="{% static 'img/2.jpg' %}">
                <p>Labas</p>

            </div>

            <div class="card">

                <img src="{% static 'img/1.jpg' %}">
                <p>Labas</p>

            </div>

            <div class="card">

                <img src="{% static 'img/2.jpg' %}">
                <p>Labas</p>

            </div>

            <div class="card">

                <img src="{% static 'img/1.jpg' %}">
                <p>Labas</p>

            </div>

            <div class="card">

                <img src="{% static 'img/2.jpg' %}">
                <p>Labas</p>

            </div>

        </div>

{% endblock %}