{% extends 'index.html' %}
{% block content %}

<div class="card_row">


            <div class="card">

                <img src="img/1.jpg">
                <p>Labas</p>

            </div>

            <div class="card">

                <img src="img/2.jpg">
                <p>Labas</p>

            </div>

            <div class="card">

                <img src="img/1.jpg">
                <p>Labas</p>

            </div>

            <div class="card">

                <img src="img/2.jpg">
                <p>Labas</p>

            </div>

            <div class="card">

                <img src="img/1.jpg">
                <p>Labas</p>

            </div>

            <div class="card">

                <img src="img/2.jpg">
                <p>Labas</p>

            </div>

        </div>

{% endblock %}